.open-form-button {
  position: fixed;
  right: 2.5rem;
  bottom: 2.5rem;
  width: 5rem;
  height: 5rem;
  border-radius: 5rem;


  &:hover {
    background-color: $color-sea;
  }

  .fa-plus {
    font-size: 2rem;
  }
}