.task {
  border: 1px solid black;
  width: 30rem;
  height: 30rem;
  display: grid;
  grid-template-rows: .25fr 1fr .25fr .3fr;
  background-color: $color-black--primary;
  color: $color-white--secodnary;
  box-shadow: $box-shadow;
  margin: 2rem;
  word-break: break-all;
  max-width: 100%;

  &__heading {
    margin-top: 2rem;
    text-align: center;
  }

  &__text {
    display: flex;
    align-items: center;
    margin: 2rem 2rem;
    text-align: justify;
    text-justify: inter-word;
  }

  &__date {
    margin: 2rem 2rem;
  }

  &__buttons {
    display: flex;
    justify-content: space-between;
    margin: 0 2rem;
  }

  &__button {
    &--done {
      width: 10rem;
      height: 3rem;
      border-radius: 2rem;

      &:hover {
        background-color: $color-green;
      }
    }

    &--remove {
      @extend .task__button--done;

      &:hover {
        background-color: $color-red;
      }
    }
  }
}